#DATA CLEANING

In [ ]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200626.csv")
for i in range(607,725):
  try:
      dataf = pd.read_csv("https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200"+ str(i) + ".csv")
      df = pd.concat([df,dataf])
      print("FOUND: " + str(i))
  except:
      print("nOT Found  -->  " + "https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200"+ str(i) + ".csv")

FOUND: 607
FOUND: 608
FOUND: 609
FOUND: 610
FOUND: 611
FOUND: 612
FOUND: 613
FOUND: 614
FOUND: 615
FOUND: 616
FOUND: 617
FOUND: 618
FOUND: 619
FOUND: 620
FOUND: 621
FOUND: 622
FOUND: 623
FOUND: 624
FOUND: 625
FOUND: 626
FOUND: 627
FOUND: 628
FOUND: 629
FOUND: 630
FOUND: 631
FOUND: 632
FOUND: 633
FOUND: 634
FOUND: 635
FOUND: 636
FOUND: 637
FOUND: 638
FOUND: 639
FOUND: 640
FOUND: 641
FOUND: 642
FOUND: 643
FOUND: 644
FOUND: 645
FOUND: 646
FOUND: 647
FOUND: 648
FOUND: 649
FOUND: 650
FOUND: 651
FOUND: 652
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200653.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200654.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200655.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200656.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200657.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200658.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200659.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200660.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200661.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200662.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200663.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200664.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200665.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200666.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200667.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200668.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200669.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200670.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200671.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200672.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200673.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200674.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200675.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200676.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200677.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200678.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200679.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200680.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200681.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200682.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200683.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200684.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200685.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200686.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200687.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200688.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200689.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200690.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200691.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200692.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200693.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200694.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200695.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200696.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200697.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200698.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200699.csv
nOT Found  -->  https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transactions_200700.csv
FOUND: 701
FOUND: 702
FOUND: 703
FOUND: 704
FOUND: 705
FOUND: 706
FOUND: 707
FOUND: 708
FOUND: 709
FOUND: 710
FOUND: 711
FOUND: 712
FOUND: 713
FOUND: 714
FOUND: 715
FOUND: 716
FOUND: 717
FOUND: 718
FOUND: 719
FOUND: 720
FOUND: 721
FOUND: 722
FOUND: 723
FOUND: 724

In [ ]:
df

        SHOP_WEEK  SHOP_DATE  ...  STORE_FORMAT  STORE_REGION
0          200626   20060824  ...            LS           E02
1          200626   20060824  ...            LS           E02
2          200626   20060826  ...            LS           E02
3          200626   20060826  ...            LS           E02
4          200626   20060825  ...            LS           E02
...           ...        ...  ...           ...           ...
265795     200724   20070806  ...            SS           E02
265796     200724   20070807  ...            SS           E02
265797     200724   20070808  ...            SS           E02
265798     200724   20070809  ...            SS           E02
265799     200724   20070809  ...            SS           E02

[18958207 rows x 22 columns]

In [ ]:
df.to_csv('/content/completeLog.csv')

In [ ]:
print(df['CUST_CODE'].value_counts())
print(df['CUST_CODE'].nunique())

#bestUser = df.loc[df['CUST_CODE']== 'CUST0000872954']

#bestUser

CUST0000105647    5246
CUST0000793677    4246
CUST0000297815    3739
CUST0000151854    3544
CUST0000242740    3445
                  ...
CUST0000140931       1
CUST0000260726       1
CUST0000562007       1
CUST0000994710       1
CUST0000389157       1
Name: CUST_CODE, Length: 44157, dtype: int64
44157

In [ ]:

print(df['PROD_CODE_40'].nunique())
print(df['PROD_CODE_30'].nunique())
print(df['PROD_CODE_20'].nunique())
print(df['PROD_CODE_10'].nunique())
print(df['PROD_CODE'].nunique())

9
31
90
248
4897

In [ ]:
dfG= df.groupby(['CUST_CODE']).nunique()
dfG.index.value_counts()

CUST0000170276    1
CUST0000610713    1
CUST0000830135    1
CUST0000529137    1
CUST0000161191    1
                 ..
CUST0000959838    1
CUST0000761247    1
CUST0000575238    1
CUST0000889066    1
CUST0000346102    1
Name: CUST_CODE, Length: 44157, dtype: int64

In [ ]:
massim = dfG['BASKET_ID'].max()
minum = dfG['PROD_CODE_10'].min()
#bestC = dfG[dfG['BASKET_ID'] == massim]
bestC = dfG[dfG['PROD_CODE_10'] < minum+5]
bestC = bestC[bestC['BASKET_ID']>10]
bestC

                SHOP_WEEK  SHOP_DATE  ...  STORE_FORMAT  STORE_REGION
CUST_CODE                             ...
CUST0000026726          6         11  ...             1             1
CUST0000050040         11         11  ...             3             3
CUST0000118701         23         26  ...             1             2
CUST0000166972         22         24  ...             1             2
CUST0000274732         13         14  ...             1             1
CUST0000348643         12         13  ...             1             1
CUST0000375781          7         16  ...             1             1
CUST0000395612         11         12  ...             2             3
CUST0000412519         41         46  ...             2             2
CUST0000461536         18         18  ...             1             1
CUST0000510218         15         19  ...             1             1
CUST0000561725         18         21  ...             1             1
CUST0000632033         20         20  ...             1             1
CUST0000636720          6         14  ...             2             2
CUST0000642947         12         13  ...             2             3
CUST0000696999         10         11  ...             1             2
CUST0000746645          8         11  ...             3             6
CUST0000787265         24         24  ...             2             3
CUST0000880709         19         20  ...             1             1
CUST0000910832         11         12  ...             2             2
CUST0000922054         19         19  ...             1             1

[21 rows x 21 columns]

In [ ]:
print(bestC.index)
finalDB = df[df['CUST_CODE'].isin(list(bestC.index))]

Index(['CUST0000026726', 'CUST0000050040', 'CUST0000118701', 'CUST0000166972',
       'CUST0000274732', 'CUST0000348643', 'CUST0000375781', 'CUST0000395612',
       'CUST0000412519', 'CUST0000461536', 'CUST0000510218', 'CUST0000561725',
       'CUST0000632033', 'CUST0000636720', 'CUST0000642947', 'CUST0000696999',
       'CUST0000746645', 'CUST0000787265', 'CUST0000880709', 'CUST0000910832',
       'CUST0000922054'],
      dtype='object', name='CUST_CODE')

In [ ]:
from datetime import date, datetime
def generateTime(stringg):
  timeList =  []
  for s in stringg:
    date_raw = str(s)
    dt = datetime(
        year=int(date_raw[:4]),
        month=int(date_raw[4:6]),
        day=int(date_raw[6:8]),
     )
    timeList.append(int(dt.timestamp()))
  print(len(timeList))
  return timeList

In [ ]:

timestamp_l = generateTime(finalDB['SHOP_DATE'])
print(timestamp_l)
finalDB.insert(2, "TIMESTAMP", timestamp_l, True) 
finalDB.to_csv("/content/completeLog.csv")
finalDB

553
[1156377600, 1156204800, 1156118400, 1156291200, 1156118400, 1156636800, 1156291200, 1156118400, 1156636800, 1156291200, 1156118400, 1156291200, 1156291200, 1145059200, 1145059200, 1145059200, 1145059200, 1144800000, 1144627200, 1145059200, 1145059200, 1145750400, 1145404800, 1145232000, 1145404800, 1145404800, 1145232000, 1145750400, 1146268800, 1146009600, 1146355200, 1146355200, 1146355200, 1146441600, 1146960000, 1146441600, 1146960000, 1146873600, 1147132800, 1147305600, 1148083200, 1147996800, 1147824000, 1147651200, 1148774400, 1148256000, 1148342400, 1148774400, 1148515200, 1148515200, 1148428800, 1149379200, 1149379200, 1149379200, 1149033600, 1148947200, 1148947200, 1149897600, 1149897600, 1149811200, 1149552000, 1149724800, 1149724800, 1150156800, 1150156800, 1150156800, 1150070400, 1150675200, 1150934400, 1151107200, 1151107200, 1151107200, 1151107200, 1151280000, 1151712000, 1151712000, 1151539200, 1152403200, 1152403200, 1152403200, 1152316800, 1152489600, 1153008000, 1152576000, 1152748800, 1152748800, 1153440000, 1154131200, 1154131200, 1154044800, 1153958400, 1154131200, 1154995200, 1155168000, 1155081600, 1154908800, 1154908800, 1155340800, 1155340800, 1156032000, 1156032000, 1155513600, 1155513600, 1156377600, 1156204800, 1156118400, 1156291200, 1156118400, 1156636800, 1156291200, 1156118400, 1156636800, 1156291200, 1156118400, 1156291200, 1156291200, 1157068800, 1157068800, 1157068800, 1156809600, 1156723200, 1157155200, 1157068800, 1157673600, 1157846400, 1157414400, 1157760000, 1157760000, 1157414400, 1157414400, 1157760000, 1157760000, 1157932800, 1158364800, 1158105600, 1158019200, 1158451200, 1157932800, 1158451200, 1158364800, 1158105600, 1158019200, 1158451200, 1157932800, 1158278400, 1158278400, 1158278400, 1159056000, 1159056000, 1158537600, 1158537600, 1158796800, 1158537600, 1158796800, 1159056000, 1159488000, 1159488000, 1159574400, 1159142400, 1159228800, 1159920000, 1160006400, 1160006400, 1160092800, 1160265600, 1159833600, 1160611200, 1160611200, 1160524800, 1160524800, 1160870400, 1161475200, 1161475200, 1161475200, 1161302400, 1161043200, 1161043200, 1160956800, 1161820800, 1161561600, 1161561600, 1161734400, 1161734400, 1161993600, 1161993600, 1161734400, 1162512000, 1162512000, 1162598400, 1162598400, 1163030400, 1163030400, 1163289600, 1162944000, 1162857600, 1162857600, 1163030400, 1163462400, 1164412800, 1165104000, 1165104000, 1164844800, 1164758400, 1164585600, 1165449600, 1165449600, 1165363200, 1166054400, 1166054400, 1165795200, 1166313600, 1166313600, 1166313600, 1166054400, 1165795200, 1165795200, 1165795200, 1166400000, 1166486400, 1166486400, 1166659200, 1167264000, 1167264000, 1167177600, 1167436800, 1167436800, 1167955200, 1168041600, 1167782400, 1167955200, 1167782400, 1167782400, 1167609600, 1168473600, 1168473600, 1168473600, 1168646400, 1168732800, 1168732800, 1168300800, 1168732800, 1168732800, 1168819200, 1169164800, 1169164800, 1168905600, 1168819200, 1168819200, 1169856000, 1169510400, 1169596800, 1169769600, 1169856000, 1169424000, 1170374400, 1170374400, 1170374400, 1170374400, 1170547200, 1170028800, 1170288000, 1170547200, 1170460800, 1170460800, 1170374400, 1170806400, 1170633600, 1171152000, 1171152000, 1171152000, 1170979200, 1170979200, 1170979200, 1170633600, 1170720000, 1170979200, 1170633600, 1171152000, 1171152000, 1171152000, 1171152000, 1171152000, 1171411200, 1171238400, 1171238400, 1171584000, 1171584000, 1171584000, 1171584000, 1171584000, 1171497600, 1171756800, 1171497600, 1171497600, 1171843200, 1172275200, 1171843200, 1172793600, 1172793600, 1172534400, 1172966400, 1173052800, 1173225600, 1173571200, 1173484800, 1173484800, 1173052800, 1173052800, 1173052800, 1173312000, 1173312000, 1173312000, 1174176000, 1173657600, 1173657600, 1173830400, 1173744000, 1173744000, 1173744000, 1174176000, 1174176000, 1174176000, 1174089600, 1174089600, 1173830400, 1174262400, 1174521600, 1174608000, 1174262400, 1174608000, 1174435200, 1174435200, 1174521600, 1174521600, 1174780800, 1174435200, 1174435200, 1174435200, 1174262400, 1174262400, 1174435200, 1174262400, 1175212800, 1175212800, 1175299200, 1175299200, 1174953600, 1175212800, 1174867200, 1174867200, 1175558400, 1175558400, 1175990400, 1175644800, 1175558400, 1175558400, 1175558400, 1175731200, 1175644800, 1175904000, 1175558400, 1175558400, 1175558400, 1175731200, 1175731200, 1175558400, 1175558400, 1175904000, 1175731200, 1176508800, 1176508800, 1176595200, 1176768000, 1176768000, 1177113600, 1176681600, 1177027200, 1176854400, 1176854400, 1177027200, 1176854400, 1176854400, 1177027200, 1176681600, 1176681600, 1177632000, 1177372800, 1177372800, 1177545600, 1177804800, 1177804800, 1177718400, 1177545600, 1177545600, 1178409600, 1178409600, 1177977600, 1178928000, 1179014400, 1178668800, 1178668800, 1178928000, 1178928000, 1178928000, 1179360000, 1179446400, 1179619200, 1179187200, 1179100800, 1179446400, 1179446400, 1179446400, 1179446400, 1179446400, 1179878400, 1179878400, 1180051200, 1179878400, 1179792000, 1179964800, 1179964800, 1179964800, 1180137600, 1180310400, 1180569600, 1180310400, 1180656000, 1180569600, 1180569600, 1180396800, 1180396800, 1181001600, 1181433600, 1181260800, 1181088000, 1181174400, 1181174400, 1181174400, 1181088000, 1181692800, 1181952000, 1181952000, 1181779200, 1181779200, 1181779200, 1181520000, 1182297600, 1182211200, 1182643200, 1182124800, 1182124800, 1182643200, 1182124800, 1182124800, 1182556800, 1182556800, 1182124800, 1182124800, 1182988800, 1182988800, 1182988800, 1182902400, 1183248000, 1183248000, 1183248000, 1183248000, 1183248000, 1183248000, 1183248000, 1182816000, 1183420800, 1183593600, 1183852800, 1183334400, 1183852800, 1183593600, 1183593600, 1183680000, 1183420800, 1183334400, 1183680000, 1183334400, 1183852800, 1183420800, 1183593600, 1183334400, 1183766400, 1183593600, 1183766400, 1183593600, 1183766400, 1183593600, 1184112000, 1184112000, 1184198400, 1184025600, 1184025600, 1184025600, 1184371200, 1184371200, 1183939200, 1184025600, 1184025600, 1184371200, 1184371200, 1183939200, 1184112000, 1184112000, 1183939200, 1183939200, 1184716800, 1184544000, 1184889600, 1185321600, 1185667200, 1185408000, 1185580800, 1185148800, 1185148800, 1185235200, 1185580800, 1185580800, 1185580800, 1185235200, 1185580800, 1185494400, 1185148800, 1185148800, 1185580800, 1186185600, 1186272000, 1185840000, 1185840000, 1186099200, 1186012800, 1186099200, 1185926400, 1186012800, 1186012800, 1186704000, 1186704000, 1186617600, 1186617600, 1186704000, 1186876800, 1186876800, 1186876800, 1186876800, 1186358400, 1186358400, 1186531200, 1186358400, 1186790400]

        SHOP_WEEK  SHOP_DATE   TIMESTAMP  ...  STORE_CODE  STORE_FORMAT  STORE_REGION
22938      200626   20060824  1156377600  ...  STORE00277            LS           N01
141801     200626   20060822  1156204800  ...  STORE01546            LS           W02
145730     200626   20060821  1156118400  ...  STORE01604           XLS           W01
145731     200626   20060823  1156291200  ...  STORE01604           XLS           W01
145732     200626   20060821  1156118400  ...  STORE01604           XLS           W01
...           ...        ...         ...  ...         ...           ...           ...
196933     200724   20070806  1186358400  ...  STORE02266            LS           S03
197266     200724   20070806  1186358400  ...  STORE02266            LS           S03
197394     200724   20070808  1186531200  ...  STORE02266            LS           S03
206012     200724   20070806  1186358400  ...  STORE02355            LS           N02
235690     200724   20070811  1186790400  ...  STORE02648            LS           N03

[553 rows x 23 columns]

#CPT

In [ ]:
import pandas as pd
finalDB = pd.read_csv('https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transaction_best_costumers.csv')

In [ ]:
finalDB['CUST_CODE'].value_counts()

CUST0000412519    91
CUST0000510218    47
CUST0000636720    40
CUST0000118701    33
CUST0000561725    31
CUST0000166972    26
CUST0000787265    26
CUST0000632033    25
CUST0000461536    24
CUST0000922054    22
CUST0000274732    22
CUST0000880709    21
CUST0000395612    20
CUST0000910832    19
CUST0000026726    17
CUST0000375781    17
CUST0000348643    16
CUST0000642947    16
CUST0000696999    14
CUST0000050040    14
CUST0000746645    12
Name: CUST_CODE, dtype: int64

In [ ]:
def predictCustomer(cust):
  smallDB = finalDB.copy()
  smallDB = smallDB[smallDB['CUST_CODE'] == cust]
  products = set(smallDB['PROD_CODE_10'])
  traindata =  list()
  testdata = list()
  validation = list()
  products_valid = list()
  for p in products:
    sub_df = smallDB[smallDB['PROD_CODE_10'] == p]
    #print(smallDB[smallDB['PROD_CODE_10'] == p].head())
    timestamps = list(sub_df['TIMESTAMP'])
    if len(timestamps) >= 3:
      traindata.append(timestamps[:-2])
      tmp = list()
      tmp.append(timestamps[-1])
      testdata.append(tmp)
      validation.append(timestamps[:-1])
      products_valid.append(p)
    #else:
      #print("Not Enough data")

  return traindata,testdata,validation,products_valid

In [ ]:
!pip install cpt

Requirement already satisfied: cpt in /usr/local/lib/python3.6/dist-packages (1.2.3)

In [ ]:
from cpt.cpt import Cpt
from scipy import *
customs = set(finalDB['CUST_CODE'].tolist())

total = 0
bad = 0

for c in customs:
  train,test,val,prod = predictCustomer(c)
  #train = convolve2d(train)
  model = Cpt()  
  model.fit(train)
  out = model.predict(val)

  if len(out) != len(test) or len(out) != len(prod):
    print("FAILED")
    

  for i in range(len(prod)):
    if out[i] > (test[i][0]-400000) and out[i] < (test[i][0]+400000):
      print("SUCCESS for -> " + c + " predited: " + str(out[i]) + " on " + prod[i])
      show_db = (finalDB[finalDB['CUST_CODE'] == c])
      show_db = show_db[show_db['PROD_CODE_10']==prod[i]]
      print(show_db[['TIMESTAMP', 'PROD_CODE', 'PROD_CODE_10','CUST_CODE', 'BASKET_ID']])
      print(' ')
    else:
      bad += 1
    total += 1

print("ACCURACY:  " + str(1-bad/total))

  

# Output: ['me', 'is']

SUCCESS for -> CUST0000026726 predited: 1183766400 on CL00079
      TIMESTAMP   PROD_CODE PROD_CODE_10       CUST_CODE        BASKET_ID
488  1183766400  PRD0901771      CL00079  CUST0000026726  994106500190137
491  1183593600  PRD0904311      CL00079  CUST0000026726  994106500190134
507  1184112000  PRD0901338      CL00079  CUST0000026726  994106600191800

SUCCESS for -> CUST0000561725 predited: 1161561600 on CL00070
      TIMESTAMP   PROD_CODE PROD_CODE_10       CUST_CODE        BASKET_ID
79   1152403200  PRD0904743      CL00070  CUST0000561725  994101300519018
118  1157068800  PRD0904743      CL00070  CUST0000561725  994102100512864
169  1160524800  PRD0904743      CL00070  CUST0000561725  994102700511608
180  1161561600  PRD0904743      CL00070  CUST0000561725  994102900505980

SUCCESS for -> CUST0000118701 predited: 1183852800 on CL00079
      TIMESTAMP   PROD_CODE PROD_CODE_10       CUST_CODE        BASKET_ID
472  1183852800  PRD0901753      CL00079  CUST0000118701  994106500251584
473  1183334400  PRD0901753      CL00079  CUST0000118701  994106500251585
494  1184198400  PRD0901753      CL00079  CUST0000118701  994106600252673

ACCURACY:  0.06976744186046513

#BAYESIAN REGRESSION

In [ ]:
import pandas as pd
finalDB = pd.read_csv('https://raw.githubusercontent.com/omkarbhoite25/Juction-Hackathon-Columbia-Road/main/datasets/transaction_best_costumers.csv')

In [ ]:
finalDB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                553 non-null    int64
 1   SHOP_WEEK                 553 non-null    int64
 2   SHOP_DATE                 553 non-null    int64
 3   TIMESTAMP                 553 non-null    int64
 4   SHOP_WEEKDAY              553 non-null    int64
 5   SHOP_HOUR                 553 non-null    int64
 6   QUANTITY                  553 non-null    int64
 7   SPEND                     553 non-null    float64
 8   PROD_CODE                 553 non-null    object
 9   PROD_CODE_10              553 non-null    object
 10  PROD_CODE_20              553 non-null    object
 11  PROD_CODE_30              553 non-null    object
 12  PROD_CODE_40              553 non-null    object
 13  CUST_CODE                 553 non-null    object
 14  CUST_PRICE_SENSITIVITY    553 non-null    object
 15  CUST_LIFESTAGE            539 non-null    object
 16  BASKET_ID                 553 non-null    int64
 17  BASKET_SIZE               553 non-null    object
 18  BASKET_PRICE_SENSITIVITY  553 non-null    object
 19  BASKET_TYPE               553 non-null    object
 20  BASKET_DOMINANT_MISSION   553 non-null    object
 21  STORE_CODE                553 non-null    object
 22  STORE_FORMAT              553 non-null    object
 23  STORE_REGION              553 non-null    object
dtypes: float64(1), int64(8), object(15)
memory usage: 103.8+ KB

In [ ]:
customs = set(finalDB['CUST_CODE'])
timestamp = finalDB['TIMESTAMP'].tolist()
category = finalDB['QUANTITY'].tolist()
future_df = {}

for c in customs:
  future_df[c] = list()

print(future_df.keys())
count = 0
for t in timestamp:
  smallDB = finalDB[finalDB['TIMESTAMP']==t]
  shortcust = smallDB['CUST_CODE'].tolist()
  for key in customs:
    if key in shortcust:
      future_df[key].append(1)
    else:
      future_df[key].append(0)


future_df['TIMESTAMP'] = timestamp
future_df['CATEGORY'] = category
print(len(future_df['TIMESTAMP']))
print(len(future_df[list(future_df.keys())[0]]))
bayesian_df = pd.DataFrame(future_df)
bayesian_df.head()

dict_keys(['CUST0000412519', 'CUST0000274732', 'CUST0000910832', 'CUST0000050040', 'CUST0000746645', 'CUST0000026726', 'CUST0000696999', 'CUST0000880709', 'CUST0000642947', 'CUST0000561725', 'CUST0000166972', 'CUST0000118701', 'CUST0000922054', 'CUST0000461536', 'CUST0000395612', 'CUST0000636720', 'CUST0000375781', 'CUST0000348643', 'CUST0000632033', 'CUST0000510218', 'CUST0000787265'])
553
553

   CUST0000412519  CUST0000274732  ...   TIMESTAMP  CATEGORY
0               0               0  ...  1156377600         1
1               0               0  ...  1156204800         1
2               0               0  ...  1156118400         3
3               1               0  ...  1156291200         3
4               0               0  ...  1156118400         3

[5 rows x 23 columns]

In [ ]:
pos=0
for c in customs:
  bayesian_df[c] = bayesian_df[c]*pow(2,pos)
  pos += 1
bayesian_df['ENCODE'] = bayesian_df.sum(axis=1)-bayesian_df['TIMESTAMP']

bayesian_df.head()

   CUST0000412519  CUST0000274732  CUST0000910832  ...   TIMESTAMP  CATEGORY  ENCODE
0               0               0               0  ...  1156377600         1     129
1               0               0               0  ...  1156204800         1   16385
2               0               0               0  ...  1156118400         3   32771
3               1               0               0  ...  1156291200         3   32772
4               0               0               0  ...  1156118400         3   32771

[5 rows x 24 columns]

In [ ]:
bayesian_df = bayesian_df[['TIMESTAMP', 'ENCODE', 'CATEGORY']]

from sklearn.model_selection import train_test_split# df is features and labels are the targets 

# Split by putting 25% in the testing set
X_train, X_test, y_train, y_test = train_test_split(bayesian_df[['TIMESTAMP','CATEGORY']],bayesian_df['ENCODE'],
                                                   test_size = 0.1,
                                                    random_state=42)

In [ ]:

import numpy as np 
import matplotlib.pyplot as plt 
  
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error, r2_score 
import statsmodels.api as sm

In [ ]:
regression_model = LinearRegression() 
  
# Fit the data(train the model) 
regression_model.fit(X_train, y_train) 
  
# Predict 
y_predicted = regression_model.predict(X_test) 
  
# model evaluation 
mse=mean_squared_error(y_test,y_predicted)
print(y_test)
print(y_predicted)
  
rmse = np.sqrt(mean_squared_error(y_test, y_predicted)) 
r2 = r2_score(y_test, y_predicted) 
  
# printing values 
print('Slope:' ,regression_model.coef_) 
print('Intercept:', regression_model.intercept_) 
print('MSE:',mse) 
print('Root mean squared error: ', rmse) 
print('R2 score: ', r2)

548       4099
82          17
523     524289
332       1155
132      32769
348          2
432    1048577
375       1028
83          19
199        641
195     262145
10       32769
84           2
324    1056771
268     262154
426       1027
524     525317
6        32770
539       3073
396       1027
462     524292
208     278531
540       3073
220          5
73       16385
70     1179650
188          2
541       8193
368    1577990
250      65537
511       1027
30           2
388       1028
394     139265
78         513
155        513
400       5123
131    1081347
2        32771
79         515
512         33
257    1572867
137      32771
237      69651
423     131201
249       4099
452     132098
508       1061
311          2
390     524291
441         65
284       2177
485     526369
278     262150
72     1179653
469         33
Name: ENCODE, dtype: int64
[160520.3969237  182517.75546738 161261.24060522 341621.61345139
 179269.44086378 168099.79766543 163768.7115273  340196.91406385
 356096.55922884 174539.43889713 176021.12626018 180466.18834932
 182688.71939389 342077.5172554  517138.00837991 337575.46719077
 161033.28870322 180352.21239831 160292.44502169 339342.09443132
 162571.96404176 347206.43505056 160292.44502169 433454.45116402
 183657.51497742 183771.49092842 176192.09018668 160349.4329972
 600764.57762029 171576.06417104 335011.00829319 186905.82958102
 339627.03430883 165763.29066986 182916.67129589 178243.65730475
 338886.19062731 352677.28069873 353760.05223327 356210.53517984
 161489.19250723 171063.17239153 352563.30474773 345439.80781001
 164509.55520882 344926.91603049 163312.80772329 162116.06023775
 169125.58122447 339456.07038232 163426.78367429 170493.29263651
 162514.97606626 170550.28061201 443712.28675434 162856.90391927]
Slope: [-6.59583050e-04  8.66469319e+04]
Intercept: 856375.3565963767
MSE: 163977181632.0438
Root mean squared error:  404940.9606745702
R2 score:  0.06088584287995513